<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>{{animal.nombre}}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src={{animal.foto}}>
  </ion-card>

  <ion-fab vertical="top" horizontal="end">
    <ion-fab-button class="btn" >
      <ion-icon name="chevron-down-circle"></ion-icon>
    </ion-fab-button>
    
    <ion-fab-list side="bottom">
      <ion-fab-button class="btns" (click)="actualizarAnimal()">
        <ion-icon name="pencil"></ion-icon>
      </ion-fab-button>

      <ion-fab-button class="btns" (click)="eliminarAnimal()">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-grid class="grid1">
    <ion-row class="row1">
      <ion-col class="atributo">
        <ion-label>Genero:</ion-label>
      </ion-col>
      <ion-col class="valor">
        <ion-label>{{animal.genero}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="row1">
      <ion-col class="atributo">
        <ion-label >Lote:</ion-label>
      </ion-col>
      <ion-col class="valor">
        <ion-label>{{animal.lote}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="row1">
      <ion-col class="atributo">
        <ion-label >Raza:</ion-label>
      </ion-col>
      <ion-col class="valor">
        <ion-label>{{animal.raza}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="row1">
      <ion-col class="atributo">
        <ion-label >Grupo Etario:</ion-label>
      </ion-col>
      <ion-col class="valor">
        <ion-label>{{animal.grupoEtario}}</ion-label>
      </ion-col>
    </ion-row>
    
    <ion-row class="row1">
      <ion-col class="atributo">
        <ion-label >Fecha de Nacimiento:</ion-label>
      </ion-col>
      <ion-col class="valor">
        <ion-label>{{animal.fechaNacimiento}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="row1">
      <ion-col class="atributo">
        <ion-label >Padre:</ion-label>
      </ion-col>
      <ion-col class="valor">
        <ion-label>{{animal.padre}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="row1">
      <ion-col class="atributo">
        <ion-label >Madre:</ion-label>
      </ion-col>
      <ion-col class="valor">
        <ion-label>{{animal.madre}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="row1">
      <ion-col class="atributo">
        <ion-label >Peso Actual:</ion-label>
      </ion-col>
      <ion-col class="valor">
        <ion-label>{{animal.pesoActual}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="row2">
      <ion-col class="button">
        <ion-button expand="block" (click)="salud()">Salud y Vacunación</ion-button>
      </ion-col>

      <ion-col class="button">
        <ion-button expand="block" (click)="produccionCarne()">Producción de Carne</ion-button>
      </ion-col>

      <ion-col class="button">
        <ion-button expand="block" (click)="produccionLeche()">Producción de Leche</ion-button>
      </ion-col>

      <ion-col class="button">
        <ion-button expand="block" (click)="reproduccion()">Reproducción</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
