.grid1{
    font-size: 18px;
    margin-top: 30px;
    padding: 10px;
}

.row2{
    text-align: center;
}

.card-content{
    background-color: rgb(190, 186, 186);

    border-color: #3880ff;
    border-style: solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-title{
    font-size: 18px;
    color: black;
    background-color: white;

    border-top-style: solid;
    border-color: #3880ff;
    
}

.boton{
    font-size: 18px;

    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.row1{
    margin: 10px;

    border-bottom-style: solid;
    border-color: #3880ff;
    border-width: 1px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.atributo{
    text-align: left;
    margin-left: 7px;
}

.valor{
    text-align: center;
    margin-right: 10px;
}

.imagen{
    max-width: 100%;
}

.imagen-card{
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.19);
}

ion-fab-button::part(native){
    --background-color: blue;
}

ion-fab-button.btn{
    width: 65px;
    height: 65px;
}

ion-fab-button.btns{
    margin-left: 6px;

    width: 55px;
    height: 55px;

    --background: #3880ff;
    --color: white;
}

ion-modal {
    --height: 60%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
  
ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
}
  
ion-modal ion-toolbar {
    --background: #3880ff;
    --color: white;
}