.boton {
    position: relative;
    text-align: center;

    margin-top: 20%;
}

.tipo {
    position: relative;

    margin-left: 30px;
    margin-right: 30px;
    margin-top: 60px;
}

.error {
    position: relative;
    padding-left: 46px;
}