.nombre{
    font-size: 16px;

    padding-left: 10%;
}

.rol{
    font-size: 16px;
}

.error {
    position: relative;
    padding-left: 16px;
}

.nuevo{
    padding-top: 10%;
    padding: 5%;
}

ion-button[shape=circle] {
    position: fixed;

    --background: #3880ff;

    --border-radius: 50%;
    width: 80px;
    height: 80px;

    bottom: 2%;
    right: 2%;
}