<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Miembros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let miembro of miembros" lines="full" (click)="getId(miembro.id)">
      
      <ion-label class="nombre">
        {{miembro.nombre}} {{miembro.apellido}}
      </ion-label>

      <ion-label class="rol">
        {{miembro.rol}}
      </ion-label>
      
    </ion-item>
  </ion-list>

  <form *ngIf="nuevoMiembro" [formGroup]="form" novalidate (ngSubmit)="agregarMiembro()">
    <ion-list class="nuevo">
      <ion-item>
        <ion-label position="stacked">Correo Electronico</ion-label>
        <ion-input formControlName="correo"></ion-input>
      </ion-item>

      <!---------------------------------- Error de Validadores Correo -------------------------------------->
      <span class="error" *ngIf="isSubmitted && errorControl.correo.errors?.required">
        El correo es obligatorio.
      </span>

      <span class="error" *ngIf="isSubmitted && errorControl.correo.errors?.pattern">
        Debe ingresar un correo valido.
      </span>
      <!---------------------------------------------------------------------------------------------->

      <ion-item>
        <ion-label position="stacked">Rol</ion-label>
        <ion-select formControlName="rol" placeholder="Selecciona un Rol">
          <ion-select-option value="Mayordomo">Mayordomo</ion-select-option>
          <ion-select-option value="Trabajador">Trabajador</ion-select-option>
          <ion-select-option value="Visitante">Visitante</ion-select-option>
        </ion-select>
      </ion-item>

      <!------------------------------- Error de Validadores Rol ----------------------------------->
      <span class="error" *ngIf="isSubmitted && errorControl.rol.errors?.required">
        El rol es obligatorio.
      </span>
      <!----------------------------------------------------------------------------------------------------->
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block">Agregar</ion-button>
      </ion-col>
    </ion-row>
  </form>

  <ion-button shape="circle" (click)="nuevoMiembro = true">
    <ion-icon slot="icon-only" name="add-circle"></ion-icon>
  </ion-button>

</ion-content>
