<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/animal"></ion-back-button>
    </ion-buttons>

    <ion-title>Producción de Leche</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <canvas id="myChartLeche" width="400" height="400"></canvas>

  <div class="leche">
    <ion-button (click)="setOpen(true, 1)">Agregar Ordeño</ion-button>
  </div>

    <!----------------------------------- Modal ------------------------------------------->
  
    <ion-modal [isOpen]="isModalOpen" [backdropDismiss]="true" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Nuevo Ordeño</ion-title>
          </ion-toolbar>
        </ion-header>
  
        <ion-content class="ion-padding">
          <form [formGroup]="form" novalidate (ngSubmit)="agregarLeche()">
            <ion-list>
              <ion-item>
                <ion-label position="stacked">Leche en litros</ion-label>
                <ion-note class="nota">(Se permiten decimales)</ion-note>
                <ion-input formControlName="leche"></ion-input>
              </ion-item>

              <!---------------------------------- Error de Validadores Leche -------------------------------------->
              <span class="error" *ngIf="isSubmitted && errorControl.leche.errors?.required">
                La cantidad de leche es obligatoria.
              </span>

              <span class="error" *ngIf="isSubmitted && errorControl.leche.errors?.pattern">
                Debe ingresar una cantidad de leche valida.
              </span>
              <!--------------------------------------------------------------------------------------------------->
  
              <ion-item (click)="setOpen(true, 2)">
                <ion-label position="stacked">Fecha</ion-label>
                <ion-input [readonly]="true">{{fechaValor}}</ion-input>
              </ion-item>
            </ion-list>
  
            <ion-row>
              <ion-col>
                <ion-button type="submit" expand="block">Agregar</ion-button>
              </ion-col>
            </ion-row>
          </form>
        </ion-content>
  
      </ng-template>
    </ion-modal>

    <!------------------------------------------------ Calendario Modal --------------------------------------------------->
  <ion-modal class="modal2" [isOpen]="isModalOpen2" [backdropDismiss]="true" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header></ion-header>

      <ion-content class="ion-padding">
        <ion-datetime
          #datetime
          size="cover"
          presentation="date"
          (ionChange)="tiempoChange(datetime.value)"
          (ionCancel)="setOpen(false, 2)"
        >
        <ion-buttons slot="buttons">
          <ion-button color="danger" (click)="datetime.cancel()">Cancelar</ion-button>
          <ion-button color="primary" (click)="datetime.confirm()">Hecho</ion-button>
        </ion-buttons>
        </ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
