<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Seleccionar Finca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="noFincas == false">
    <ion-item *ngFor="let finca of fincas" lines="full" (click)="getId(finca.id)">
      <ion-thumbnail  class="icono" slot="start">
        <img src={{finca.foto}}>
      </ion-thumbnail >
      
      <ion-label class="nombre">
        {{finca.nombre}}
      </ion-label>

      <ion-label class="proposito">
        {{finca.orientacion}}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button shape="circle" color="primary" routerLink="/crear-finca" routerDirection="forward">
    <ion-icon slot="icon-only" name="add-circle"></ion-icon>
  </ion-button>
</ion-content>
