.icono{
    block-size: 60px;
    width: 80px;

    margin-right: 0%;
}

.nombre{
    font-size: 16px;

    padding-left: 10%;
}

.proposito{
    font-size: 16px;
}

ion-button[shape=circle] {
    position: absolute;

    --border-radius: 50%;
    width: 70px;
    height: 70px;

    right: 15px;
    bottom: 5%;
}