.grid1{
    font-size: 19px;
}

.row1{
    margin-top: 10px;

    border-bottom-style: solid;
    border-color: #3880ff;
    border-width: 1px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.atributo{
    text-align: left;
}

.valor{
    text-align: center;
    margin-right: 15px;
}