.error {
    position: relative;
    padding-left: 16px;
}

.olvide {
    margin-top: 10%;
    text-align: center;
    color: #3880ff;
    text-decoration-line: underline;
}

.contenedor {
    padding-top: 15%;
}

.contrasena {
    padding-top: 7%;
}

.boton {
    position: relative;
    margin-top: 10%;
    top: 25px;
}