<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/animal"></ion-back-button>
    </ion-buttons>
    <ion-title>Historial Medico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let historia of historias" lines="full" (click)="getId(historia.id)">
      
      <ion-label class="nombre">
        {{historia.nombre}}
      </ion-label>

      <ion-label class="ref">
        {{historia.ref}}
      </ion-label>

      <ion-label class="fecha">
        {{historia.fecha}}
      </ion-label>
      
    </ion-item>
  </ion-list>

  <ion-button (click)="setOpen(true, 1)" shape="circle">
    <ion-icon slot="icon-only" name="add-circle"></ion-icon>
  </ion-button>

  <!------------------------------------------------- Tipo Modal -------------------------------------------------------->
  <ion-modal #modal [isOpen]="isModalOpen" [backdropDismiss]="true" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Selecciona el tipo de Historia</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <form [formGroup]="form" novalidate (ngSubmit)="tipo()">
          <ion-list>
            <ion-item>
              <ion-label position="stacked">Tipo de Historia</ion-label>
              <ion-select formControlName="ref" placeholder="Selecciona un tipo:">
                <ion-select-option value="Enfermedad">Enfermedad</ion-select-option>
                <ion-select-option value="Vacuna">Vacuna</ion-select-option>
              </ion-select>
            </ion-item>

            <!-------------------------------------- Error de Validadores Ref ------------------------------------------>
            <span class="error" *ngIf="isSubmitted && errorControl.ref.errors?.required">
              El tipo de historia es obligatoria.
            </span>
            <!---------------------------------------------------------------------------------------------------------->
          </ion-list>

          <ion-row>
            <ion-col>
              <ion-button type="submit" expand="block">Continuar</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!------------------------------------------------- Historia Modal --------------------------------------------------->
  <ion-modal class="modal2" [isOpen]="isModalOpen2" [backdropDismiss]="true" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Agregar Historia de {{historia.ref}}</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <form [formGroup]="form" novalidate (ngSubmit)="crearHistoria()">

          <!--------------------------------------------- VENTANA ENFERMEDAD -------------------------------------------->
          <ion-list *ngIf="historia.ref == 'Enfermedad'">
            
            <ion-item>
              <ion-label position="stacked">Nombre de la Enfermedad</ion-label>
              <ion-input formControlName="nombre"></ion-input>
            </ion-item>

            <!--------------------------------------- Error de Validadores Nombre --------------------------------------->
            <span class="error" *ngIf="isSubmitted && errorControl.nombre.errors?.required">
              El nombre es obligatorio.
            </span>
            <!----------------------------------------------------------------------------------------------------------->

            <ion-item>
              <ion-label position="stacked">Sintomas</ion-label>              
              <ion-textarea formControlName="sintomas" [autoGrow]="true"></ion-textarea>
            </ion-item>

            <!-------------------------------------- Error de Validadores Sintomas -------------------------------------->
            <span class="error" *ngIf="isSubmitted && errorControl.sintomas.errors?.required">
              Los sintomas son obligatorios.
            </span>
            <!----------------------------------------------------------------------------------------------------------->

            <ion-item>
              <ion-label position="stacked">Nombre del medicamento</ion-label>
              <ion-input formControlName="nomMedicamento"></ion-input>
            </ion-item>

            <!------------------------------ Error de Validadores Nombre del medicamento -------------------------------->
            <span class="error" *ngIf="isSubmitted && errorControl.nomMedicamento.errors?.required">
              El nombre del medicamento es obligatorio.
            </span>
            <!----------------------------------------------------------------------------------------------------------->

            <ion-item>
              <ion-label position="stacked">Cantidad del medicamento</ion-label>
              <ion-input formControlName="canMedicamento"></ion-input>
            </ion-item>

            <!----------------------------- Error de Validadores Cantidad del medicamento ------------------------------->
            <span class="error" *ngIf="isSubmitted && errorControl.canMedicamento.errors?.required">
              La cantidad del medicamento es obligatoria.
            </span>
            <!----------------------------------------------------------------------------------------------------------->

            <ion-item (click)="setOpen(true, 3)">
              <ion-label position="stacked">Fecha de inyección del medicamento</ion-label>
              <ion-input [readonly]="true">{{fechaValor}}</ion-input>
            </ion-item>          

            <!------------------------ Error de Validadores Fecha de inyección del medicamento -------------------------->
            <!-- <span class="error" *ngIf="isSubmitted && errorControl.fecha.errors?.required">
              La fecha de inyección del medicamento es obligatoria.
            </span> -->
            <!----------------------------------------------------------------------------------------------------------->
          </ion-list>

          <!---------------------------------------------- VENTANA VACUNA ----------------------------------------------->
          <ion-list *ngIf="historia.ref == 'Vacuna'">
            <br>
            <ion-item>
              <ion-label position="stacked">Nombre de la vacuna</ion-label>
              <ion-input formControlName="nombre"></ion-input>
            </ion-item>

            <!-------------------------------- Error de Validadores Nombre de la vacuna --------------------------------->
            <span class="error" *ngIf="isSubmitted && errorControl.nombre.errors?.required">
              El nombre de la vacuna es obligatorio.
            </span>
            <!----------------------------------------------------------------------------------------------------------->
            
            <br>
            <ion-item (click)="setOpen(true, 3)">
              <ion-label position="stacked">Fecha de Vacunación</ion-label>
              <ion-input [readonly]="true">{{fechaValor}}</ion-input>
            </ion-item>          

            <!-------------------------------- Error de Validadores Fecha de Vacunación --------------------------------->
            <!-- <span class="error" *ngIf="isSubmitted && errorControl.fecha.errors?.required">
              La fecha es obligatoria.
            </span> -->
            <!----------------------------------------------------------------------------------------------------------->
            <br>
          </ion-list>

          <ion-row>
            <ion-col>
              <ion-button type="submit" expand="block">Continuar</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!------------------------------------------------ Calendario Modal --------------------------------------------------->
  <ion-modal class="modal3" [isOpen]="isModalOpen3" [backdropDismiss]="true" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header></ion-header>

      <ion-content class="ion-padding">
        <ion-datetime
          #datetime
          size="cover"
          presentation="date"
          (ionChange)="tiempoChange(datetime.value)"
          showDefaultButtons="true"
          doneText="Hecho"
          cancelText="Cancelar"
          (ionCancel)="setOpen(false, 3)"
        ></ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
