<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/animal"></ion-back-button>
    </ion-buttons>
    <ion-title>Producción de Carne</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <canvas id="myChartCarne" width="400" height="400"></canvas>

  <div class="peso">
    <ion-button (click)="setOpen(true, 1)">Agregar Peso</ion-button>
  </div>

  <!---------------------------------------------- Peso Modal ------------------------------------------------>
  
  <ion-modal [isOpen]="isModalOpen" [backdropDismiss]="true" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Nuevo Peso</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <form [formGroup]="form" novalidate (ngSubmit)="agregarPeso()">
          <ion-list>
            <ion-item>
              <ion-label position="stacked">Peso en KG</ion-label>
              <ion-input formControlName="peso"></ion-input>
            </ion-item>

            <!---------------------------------- Error de Validadores Peso -------------------------------------->
            <span class="error" *ngIf="isSubmitted && errorControl.peso.errors?.required">
              El peso del animal es obligatorio.
            </span>

            <span class="error" *ngIf="isSubmitted && errorControl.peso.errors?.pattern">
              Debe ingresar un peso valido.
            </span>
            <!--------------------------------------------------------------------------------------------------->

            <ion-item (click)="setOpen(true, 2)">
              <ion-label position="stacked">Fecha</ion-label>
              <ion-input [readonly]="true">{{fechaValor}}</ion-input>
            </ion-item>
          </ion-list>

          <ion-row>
            <ion-col>
              <ion-button type="submit" expand="block">Agregar</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-content>

    </ng-template>
  </ion-modal>

  <!------------------------------------------------ Calendario Modal --------------------------------------------------->
  <ion-modal class="modal2" [isOpen]="isModalOpen2" [backdropDismiss]="true" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header></ion-header>

      <ion-content class="ion-padding">
        <ion-datetime
          #datetime
          size="cover"
          presentation="date"
          (ionChange)="tiempoChange(datetime.value)"
          (ionCancel)="setOpen(false, 2)"
        >
        <ion-buttons slot="buttons">
          <ion-button color="danger" (click)="datetime.cancel()">Cancelar</ion-button>
          <ion-button color="primary" (click)="datetime.confirm()">Hecho</ion-button>
        </ion-buttons>
        </ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
