<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="finca">
      <ion-icon name="home"></ion-icon>
      <ion-label>Finca</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="animales">
      <ion-icon name="egg"></ion-icon>
      <ion-label>Animales</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="datos-produccion">
      <ion-icon name="restaurant"></ion-icon>
      <ion-label>Producción</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="alertas">
      <ion-icon name="alert"></ion-icon>
      <ion-label>Alertas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="informes">
      <ion-icon name="stats-chart"></ion-icon>
      <ion-label>Informes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>