<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Animales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let animal of animales" lines="full" (click)="getId(animal.id)">
      <ion-thumbnail class="icono" class="icono" slot="start">
        <img src={{animal.foto}}>
      </ion-thumbnail >
      
      <ion-label class="nombre">
        {{animal.nombre}}
      </ion-label>

      <ion-label class="genero">
        {{animal.genero}}
      </ion-label>
      
    </ion-item>
  </ion-list>

  <ion-button shape="circle" routerLink="/crear-animal">
    <ion-icon slot="icon-only" name="add-circle"></ion-icon>
  </ion-button>

</ion-content>
