.icono{
    block-size: 60px;
    width: 80px;
}

.nombreDiv{
    font-size: 22px;
    text-align: center;
    width: 70%;
}

.generoDiv{
    font-size: 20px;
    text-align: center;
    width: 35%;
}

ion-button[shape=circle] {
    position: fixed;

    --background: #3880ff;

    --border-radius: 50%;
    width: 80px;
    height: 80px;

    bottom: 10%;
    right: 2%;
}