<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Contenido WEB</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col size="12" size-lg="4" size-md="4" size-sm="6">
        <ion-card href="https://www.contextoganadero.com">
          <ion-img src=assets\icon\ContextoGanadero.PNG></ion-img>
          <ion-card-header>
            <ion-card-title>Contexto Ganadero</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Una pagina Web que publica las noticias mas importantes sobre la ganaderia tanto nacional como internacional. 
            Util para estar al tanto de las ultimas noticias ganaderas en Colombia.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-lg="4" size-md="4" size-sm="6">
        <ion-card href="https://www.ica.gov.co">
          <ion-img src=assets\icon\ICA.png></ion-img>
          <ion-card-header>
            <ion-card-title>ICA</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Pagina Web de la entidad que previene, controla y reduce riesgos sanitarios, biologicos y quimicos en especies animales y vagetales. 
            Brinda noticias e informes utiles para control de riesgos en ganaderia.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-lg="4" size-md="4" size-sm="6">
        <ion-card href="http://www.ideam.gov.co">
          <ion-img  src=assets\icon\IDEAM.jpg></ion-img>
          <ion-card-header>
            <ion-card-title>IDEAM</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Pagina Web de la entidad que se encarga del manejo de la información científica, hidrológica, meteorológica y todo lo relacionado con el medio ambiente en Colombia.
            Ofrece informacion fiable sobre el estado y las dinámicas de los recursos naturales y del medio ambiente.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-lg="4" size-md="4" size-sm="6">
        <ion-card href="https://www.fedegan.org.co">
          <ion-img src=assets\icon\FEDEGAN.png></ion-img>
          <ion-card-header>
            <ion-card-title>FEDEGAN</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Pagina Web de la Federación Colombiana de Ganaderos que brinda información sobre la representación gremial, el análisis sectorial, información y política ganadera, 
            el recaudo y administración de la parafiscalidad ganadera y la prestación de servicios al ganadero.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-lg="4" size-md="4" size-sm="6">
        <ion-card href="https://www.agrosavia.co">
          <ion-img src=assets\icon\AGROSAVIA.png></ion-img>
          <ion-card-header>
            <ion-card-title>AGROSAVIA</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            pagina Web que genera conocimiento científico y desarrollo tecnológico agropecuario, con el fin de mejorar la competitividad del sector, 
            la sostenibilidad en el uso de los recursos naturales y el fortalecimiento de la tecnologia en Colombia.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-lg="4" size-md="4" size-sm="6">
        <ion-card href="https://sites.google.com/view/asoagrigan/pagina-principal?authuser=0#h.p_00fQPirhk4EE">
          <ion-img src=assets\icon\Asoagrigan.jpg></ion-img>
          <ion-card-header>
            <ion-card-title>ASOAGRIGAN</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Pagina Web de la asociación agricola y ganadera para el desarrollo sostenible de la nevera.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-lg="4" size-md="4" size-sm="6">
        <ion-card href="https://www.instagram.com/asoagrigan_2004/?igshid=NTc4MTIwNjQ2YQ%3D%3D">
          <ion-img src=assets\icon\Asoagrigan_insta.jpg></ion-img>
          <ion-card-header>
            <ion-card-title>Instagram ASOAGRIGAN</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Pagina de Instagram sobre ASOAGRIGAN
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
