.card-content{
    background-color: rgb(190, 186, 186);
    text-align: center;

    border-color: #3880ff;
    border-style: solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-title{
    text-align: center;
    font-size: 18px;
    color: black;
    background-color: white;

    border-top-style: solid;
    border-color: #3880ff; 
}
