.atributo{
    text-align: left;
    margin-left: 15px;
}

.valor{
    text-align: center;
    margin-right: 15px;
}

.grid1{
    font-size: 18px;
    margin-top: 30px;
    padding: 10px;
}

.row1{
    margin-top: 10px;

    margin: 10px;

    border-bottom-style: solid;
    border-color: #3880ff;
    border-width: 1px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}