.nombre{
    font-size: 18px;

    padding-left: 0%;
}

.tipo{
    font-size: 18px;

    padding-left: 10%;
}

.grid1{
    font-size: 18px;
    margin-top: 30px;
    padding: 10px;
}

.row1{
    margin-top: 10px; 
}

.atributo{
    text-align: left;
    margin-left: 15px;

    border-bottom-style: solid;
    border-color: #3880ff;
    border-width: 1px;
}

.valor{
    text-align: center;
    margin-right: 15px;

    border-bottom-style: solid;
    border-color: #3880ff;
    border-width: 1px;
}

ion-modal.modal2{
    --height: 50%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal {
    --height: 80%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
  
ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
}
  
ion-modal ion-toolbar {
    --background: #3880ff;
    --color: white;
}