<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/animal"></ion-back-button>
      <!-- <ion-menu-button></ion-menu-button> -->
    </ion-buttons>

    <ion-title>Reproducción</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let evento of eventos" lines="full" (click)="getId(evento.id)">
      
      <ion-label class="tipo">
        {{evento.tipo}}
      </ion-label>

      <ion-label class="fecha">
        {{evento.fechaMonta}}
      </ion-label>
      
    </ion-item>
  </ion-list>

  <ion-button id="open-modal" expand="block">Nueva Monta</ion-button>
  

  <!----------------------------------- 1er Modal ------------------------------------------->
  <ion-modal #modal trigger="open-modal" [backdropDismiss]="true" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Nueva Monta</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <form [formGroup]="form" novalidate (ngSubmit)="agregarMonta()">
          <ion-list>
            <ion-item>
              <ion-label position="stacked">Nombre del Toro</ion-label>
              <ion-input formControlName="nombre"></ion-input>
            </ion-item>

            <ion-item (click)="showPicker = !showPicker">
              <ion-label position="stacked">Fecha</ion-label>
              <ion-input maxlength="0">{{fechaValor}}</ion-input>
            </ion-item>
            
            <ion-datetime *ngIf="showPicker"
              #datetime
              [value]="dateValor"
              size="cover"
              presentation="date"
              (ionChange)="tiempoChange(datetime.value)"
            ></ion-datetime>
          </ion-list>

          <ion-row>
            <ion-col>
              <ion-button type="submit" expand="block">Agregar Monta</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!----------------------------------- 2do Modal ------------------------------------------->
  <ion-modal class="modal2" [isOpen]="isModalOpen" [backdropDismiss]="true" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Datos de Reproducción</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-grid class="grid1">
          <ion-row class="row1">
            <ion-col class="atributo">
              <ion-label>Fecha de la Monta:</ion-label>
            </ion-col>
            <ion-col class="valor">
              <ion-label>{{evento.fechaMonta}}</ion-label>
            </ion-col>
          </ion-row>

          <ion-row class="row1">
            <ion-col class="atributo">
              <ion-label >Nombre del Toro:</ion-label>
            </ion-col>
            <ion-col class="valor">
              <ion-label>{{evento.nombreToro}}</ion-label>
            </ion-col>
          </ion-row>
          
          <ion-row class="row1">
            <ion-col class="atributo">
              <ion-label>Probable Fecha del Parto:</ion-label>
            </ion-col>
            <ion-col class="valor">
              <ion-label>{{evento.fechaPartoProbable}}</ion-label>
            </ion-col>
          </ion-row>

        </ion-grid>

        <ion-row *ngIf="evento.tipo == 'Monta'">
          <ion-col>
            <ion-button expand="block" (click)="registrarParto()">Registrar Parto</ion-button>
          </ion-col>
        </ion-row>

        <ion-grid *ngIf="evento.tipo == 'Parto'" class="grid1">
          <ion-row class="row1">
            <ion-col class="atributo">
              <ion-label>Fecha del Parto:</ion-label>
            </ion-col>
            <ion-col class="valor">
              <ion-label>{{evento.fechaParto}}</ion-label>
            </ion-col>
          </ion-row>

          <ion-row class="row1">
            <ion-col class="atributo">
              <ion-label >Nombre de la Cria:</ion-label>
            </ion-col>
            <ion-col class="valor">
              <ion-label>{{evento.nombreCria}}</ion-label>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!----------------------------------- 3er Modal ------------------------------------------->
  <ion-modal #modal [isOpen]="isModalOpen2" [backdropDismiss]="true" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Nuevo Parto</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <form [formGroup]="form" novalidate (ngSubmit)="agregarParto()">
          <ion-list>
            <ion-item>
              <ion-label position="stacked">Nombre de la Cria</ion-label>
              <ion-input formControlName="nombre"></ion-input>
            </ion-item>

            <ion-item (click)="showPicker = !showPicker">
              <ion-label position="stacked">Fecha del Parto</ion-label>
              <ion-input maxlength="0">{{fechaValor}}</ion-input>
            </ion-item>
            
            <ion-datetime *ngIf="showPicker"
              #datetime
              [value]="dateValor"
              size="cover"
              presentation="date"
              (ionChange)="tiempoChange(datetime.value)"
            ></ion-datetime>
          </ion-list>

          <ion-row>
            <ion-col>
              <ion-button expand="block" (click)="agregarParto()">Agregar Parto</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
