.icono{
    block-size: 60px;
    width: 70px;
}

.usuario{
    font-size: 16px;

    position: fixed;
    left: 25%;
}

.cambio{
    font-size: 16px;

    position: fixed;
    left: 45%;
}

.fecha{
    font-size: 15px;

    position: absolute;
    right: 5%;
}