<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>{{finca.nombre}}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-card class="imagen">
      <img src={{finca.foto}}>
    </ion-card>
  </div>
  
  <ion-fab vertical="top" horizontal="end">
    <ion-fab-button class="btn" >
      <ion-icon name="chevron-down-circle"></ion-icon>
    </ion-fab-button>
    
    <ion-fab-list side="bottom">
      <ion-fab-button class="btns" routerLink='/actualizar-finca'>
        <ion-icon name="pencil"></ion-icon>
      </ion-fab-button>

      <ion-fab-button class="btns" (click)="eliminarFinca()">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-grid class="grid">
    <ion-row>
      <ion-col class="atributo">
        <ion-label>Orientacion:</ion-label>
      </ion-col>
      <ion-col class="valor">
        <ion-label>{{finca.orientacion}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="atributo">
        <ion-label >Area Total:</ion-label>
      </ion-col>
      <ion-col class="valor">
        <ion-label>{{finca.areaFinca}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="atributo">
        <ion-label >Area Ganaderia:</ion-label>
      </ion-col>
      <ion-col class="valor">
        <ion-label>{{finca.areaGanaderia}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="atributo">
        <ion-label >Departamento:</ion-label>
      </ion-col>
      <ion-col class="valor">
        <ion-label>{{finca.departamento}}</ion-label>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col class="atributo">
        <ion-label >Ciudad:</ion-label>
      </ion-col>
      <ion-col class="valor">
        <ion-label>{{finca.ciudad}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="atributo">
        <ion-label >Corregimiento:</ion-label>
      </ion-col>
      <ion-col class="valor">
        <ion-label>{{finca.corregimiento}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="atributo">
        <ion-label >Coordenadas:</ion-label>
      </ion-col>
      <ion-col class="valor">
        <ion-label>{{finca.coordenadas}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  
</ion-content>
