<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" novalidate (ngSubmit)="registro()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Correo Electronico</ion-label>
        <ion-input type="email" formControlName="correo"></ion-input>
      </ion-item>

      <!---------------------------------- Error de Validadores Correo -------------------------------------->
      <span class="error" *ngIf="isSubmitted && errorControl.correo.errors?.required">
        El correo es obligatorio.
      </span>

      <span class="error" *ngIf="isSubmitted && errorControl.correo.errors?.pattern">
        Debe ingresar un correo valido.
      </span>
      <!------------------------------------------------------------------------------------------------------>

      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input formControlName="nombre"></ion-input>
      </ion-item>

      <!---------------------------------- Error de Validadores Nombre -------------------------------------->
      <span class="error" *ngIf="isSubmitted && errorControl.nombre.errors?.required">
        El nombre es obligatorio.
      </span>
      <!----------------------------------------------------------------------------------------------------->

      <ion-item>
        <ion-label position="stacked">Apellido</ion-label>
        <ion-input formControlName="apellido"></ion-input>
      </ion-item>

      <!---------------------------------- Error de Validadores Apellido -------------------------------------->
      <span class="error" *ngIf="isSubmitted && errorControl.apellido.errors?.required">
        El apellido es obligatorio.
      </span>
      <!------------------------------------------------------------------------------------------------------->

      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input type="password" formControlName="contrasena"></ion-input>
      </ion-item>

      <!---------------------------------- Error de Validadores Contraseña -------------------------------------->
      <span class="error" *ngIf="isSubmitted && errorControl.contrasena.errors?.required">
        La contraseña es obligatoria.
      </span>

      <span class="error" *ngIf="isSubmitted && errorControl.contrasena.errors?.minlength">
        Debe tener un minimo de 8 caracteres.
      </span>
      <!---------------------------------------------------------------------------------------------------------->

      <ion-item>
        <ion-label position="stacked">Confirmar Contraseña</ion-label>
        <ion-input type="password" formControlName="confirmarContrasena"></ion-input>
      </ion-item>

      <!---------------------------------- Error de Validadores Confirmar Contraseña-------------------------------------->
      <span class="error" *ngIf="isSubmitted && errorControl.confirmarContrasena.errors?.required">
        La confirmación de contraseña es obligatoria.
      </span>
      <!------------------------------------------------------------------------------------------------------------------->

      <ion-item>
        <ion-label position="stacked">Pais</ion-label>
        <ion-select formControlName="pais" placeholder="Selecciona un pais">
          <ion-select-option value="Colombia">Colombia</ion-select-option>
        </ion-select>
      </ion-item>

      <!---------------------------------- Error de Validadores Pais -------------------------------------->
      <span class="error" *ngIf="isSubmitted && errorControl.pais.errors?.required">
        El pais es obligatorio.
      </span>
      <!---------------------------------------------------------------------------------------------------->

      <ion-item>
        <ion-label position="stacked">Teléfono</ion-label>
        <ion-input type="tel" formControlName="telefono"></ion-input>
      </ion-item>

      <!---------------------------------- Error de Validadores Telefono -------------------------------------->
      <span class="error" *ngIf="isSubmitted && errorControl.telefono.errors?.required">
        El telefono es obligatorio.
      </span>

      <span class="error" *ngIf="isSubmitted && errorControl.telefono.errors?.pattern">
        Debe ser un telefono valido. (Sin Prefijo)
      </span>
      <!--------------------------------------------------------------------------------------------------------->

      <ion-item>
        <ion-label position="stacked">Departamento</ion-label>
        <ion-input formControlName="departamento" placeholder="Seleccione un departamento"  value='{{dpto}}' (click)="setOpen(true, 1)"></ion-input>
      </ion-item>

      <!---------------------------------- Error de Validadores Departamento-------------------------------------->
      <span class="error" *ngIf="isSubmitted && errorControl.departamento.errors?.required">
        El Departamento es obligatorio.
      </span>
      <!----------------------------------------------------------------------------------------------------------->

      <ion-item>
        <ion-label position="stacked">Municipio</ion-label>
        <ion-input formControlName="ciudad" placeholder="Seleccione un municipio"  value='{{ciud}}' (click)="setOpen(true, 2)"></ion-input>
      </ion-item>

      <!---------------------------------- Error de Validadores Ciudad -------------------------------------->
      <span class="error" *ngIf="isSubmitted && errorControl.ciudad.errors?.required">
        La ciudad es obligatoria.
      </span>
      <!------------------------------------------------------------------------------------------------------->
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block">Registrarse</ion-button>
      </ion-col>
    </ion-row>
  </form>

  <!--------------------------------------- Departamentos Modal --------------------------------------->
  <ion-modal #modal [isOpen]="isModalOpen" [backdropDismiss]="true" [initialBreakpoint]="1" [breakpoints]="[0.5, 0.75, 1]" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-searchbar placeholder="Buscar un departamento" animated (ionChange)="buscarDpto($event)"></ion-searchbar>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ion-list [inset]="true">
          <ion-item *ngFor="let departamento of departamentosAux" (click)="dptoChange(departamento)">
            <ion-label> {{departamento.depto}} </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!--------------------------------------- Ciudades Modal --------------------------------------->
  <ion-modal #modal [isOpen]="isModalOpen2" [backdropDismiss]="true" [initialBreakpoint]="1" [breakpoints]="[0.5, 0.75, 1]" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-searchbar placeholder="Buscar una ciudad" animated (ionChange)="buscarCiudad($event)"></ion-searchbar>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ion-list [inset]="true">
          <ion-item *ngFor="let ciudad of ciudadesAux" (click)="ciudadChange(ciudad)">
            <ion-label> {{ciudad.Ciudad}} </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>